body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .navbar-nav {
      .nav-link {


        &.active {
          color: #0d6efd
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.left-content {
  padding-left: 200px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .big-title {
    line-height: normal;
    // width: 400px;
    font-size: 80px;
  }

  .small-title {
    font-size: 20px;
  }

  button {
    padding: 9px;
  }
}