.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: solid 1px green;
        }

        .admin-main {
            padding: 10px;

            .admin-user-content {
                .user-content {
                    .table-users-container {}
                }
            }
        }
    }
}