.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: solid 1px green;
        }

        .admin-main {
            // height: 40px;
            border: solid 1px red;
        }
    }
}

// .img-preview {
//     display: flex;
//     justify-content: center;

//     img {
//         border-radius: 10px;
//         border: 1px solid black;
//         width: 400px;
//     }
// }